section.ds-news-add-new
    div.ds-news-add-loading
        position: fixed
        width: 100%
        height: 100vh
        top: 0
        left: 0
        z-index: 5
        display: flex
        justify-content: center
        align-items: center
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: black
            animation: l-fade .5s linear both
            @keyframes l-fade
                0%
                    opacity: 0
                100%
                    opacity: .7
        div.body
            position: relative
            z-index: 6
            width: 40vw
            height: 650px
            background-color: white
            border-radius: 20px
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: center
            min-width: 500px
            @media screen and ( max-width: 550px )
                width: 85vw
                min-width: 85vw
            @media screen and ( max-width: 1200px )
                height: 400px
            div.loading
                width: 20vw
                height: 20vw
                min-width: 200px
                min-height: 200px
                position: relative
                display: flex
                justify-content: center
                align-items: center
                i
                    font-size: 12rem
                    color: $deafultGreen
                    visibility: hidden
                    @media screen and ( max-width: 1400px )
                        font-size: 10rem
                    @media screen and ( max-width: 1200px )
                        font-size: 8rem

                span.loading
                    width: 100%
                    height: 100%
                    border: 10px solid $deafultGreen
                    border-radius: 50%
                    position: absolute
                    animation: rotate both linear 2s infinite
                    span
                        position: absolute
                        width: 40%
                        height: 40%
                        background-color: white
                        border-radius: 30%
                        transition: all 1s linear
                        &:nth-of-type(2)
                            right: -20%
                            top: 30%
                        &:nth-of-type(3)
                            bottom: -10%
                            left: 30%
                    @keyframes rotate
                        0%
                            transform: rotate(0deg)
                        100%
                            transform: rotate(360deg)
            div.buttons
                display: flex
                justify-content: space-between
                @media screen and ( max-width: 550px )
                    flex-direction: column
                    a
                        button
                            width: 100%  
                a
                    color: inherit
                    text-decoration: none
                    visibility: hidden
                    button
                        background-color: $admin-color
                        color: white
                        border-radius: 5px
                        font-size: 1.1rem
                        border: none
                        display: flex
                        justify-content: center
                        padding: 5px 15px
                        transition: all .2s linear
                        border: 2px solid
                        &:hover
                            background-color: #fff
                            color: $admin-color
                    button.green
                        background-color: $deafultGreen
                        transform: scale(1.2)
                        margin: 0 30px
                        @media screen and ( max-width: 550px )
                            margin: 10px 0
                        &:hover
                            background-color: #fff
                            color: $deafultGreen
    div.ds-news-add-loading.stoped
        div.body
            div.loading
                span.loading
                    span
                        transform: scale(0)
                i
                    animation: fadeIn .5s 1s linear both
            div.buttons
                a
                    animation: fadeIn .5s .2s linear both
                    &:nth-of-type(2)
                        animation: fadeIn .5s .7s linear both
                    &:nth-of-type(3)
                        animation: fadeIn .5s 1.2s linear both