$admin-color: #636e72
@import 'index'
@import 'add_new/wrapper'
@import 'single_news'
div.ds-news-logo
    background-color: $dsGreen
    width: 100%
    height: 30vh
    display: flex
    align-items: center
    position: relative
    &::after
        content: ""
        top: 50%
        transform: translateY(-50%)
        right: 20%
        height: 120%
        width: 100%
        opacity: 0.6
        background-image: url(/images/heart.png)
        background-size: contain
        background-repeat: no-repeat
        background-position: right
        position: absolute
        @media screen and (max-width: 450px)
            right: 0%
    h1
        color: #fff
        font-size: 4rem
        font-weight: bold
        letter-spacing: 2px
        user-select: none
        padding-left: 15vw
    @media screen and ( max-width: 1000px )
        justify-content: center
        h1
            font-size: 3rem
            padding-left: 0
        