@import 'index'
@import 'single_help_form'
div.ds-section-logo.help
    @media screen and ( max-width: 550px )
        height: 320px
    @media screen and ( max-width: 400px )
        height: 400px
    nav
        padding-right: 15vw
        @media screen and ( max-width: 1000px )
            padding-right: 10px
    
        