// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito')
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
// Variables
@import 'variables'
@import 'animations'

// Bootstrap
@import '~bootstrap/scss/bootstrap'
html
    overflow-x: hidden
// Files
@import 'menu'
@import 'our_objects/wrapper'
@import 'activites/wrapper'
@import 'pathbar'
@import 'scroll'
@import 'modal'

.ds-show-more-green
    background-color: $deafultGreen
    border: none
    padding: 10px 20px
    font-size: 2rem
    font-size: 'Arial'
    color: white
    border-radius: 30px
    font-weight: bold
    transition: background-color .2s linear
    text-align: center
    &:hover
        background-color: #7bed9f
        color: white
        text-decoration: none 