// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito')
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap')
// Variables
@import 'variables'
@import 'animations'

// Bootstrap
@import '~bootstrap/scss/bootstrap'
html
    overflow-x: hidden
// Files
@import 'menu'
@import 'our_objects/wrapper'
@import 'activites/wrapper'
@import 'about/wrapper'
@import 'help/wrapper'
@import 'news/wrapper'
@import 'landing_page/wrapper'
//
@import 'fb'
@import 'scroll'
@import 'modal'
@import 'gallery'
@import 'gallery_with_href'
@import 'footer'
@import 'contact'
@import 'single_section_logo'
body
    max-width: 100vw
    background-color: #fff !important
    font-family: "Lato", sans-serif !important
.logo
    position: relative
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: #fff
        opacity: .8
        z-index: 3
    *
        position: relative
        z-index: 5
    @media screen and ( max-width: 500px )
        h1
            text-align: center
            font-size: 3rem !important
.ds-show-more-green
    background-color: $dsGreen
    border: none
    padding: 5px 20px
    font-size: 1.5rem
    color: white
    font-weight: bold
    text-align: center
    cursor: pointer !important
    border: $dsGreen 3px solid
    position: relative
    overflow: hidden
    text-decoration: none
    transition: all .3s
    letter-spacing: 1px
    &:hover
        color: $dsGreen
        background-color: #fff
        text-decoration: none
    &:focus
        outline: none 