section.ds-gallery-with-hrefs
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly

    div.gallery-item
        width: 500px
        margin-bottom: 50px
        a
            width: 100%
            img
                width: 100%
                object-fit: contain
            
    