section.ds-a-tasks-wrapper
    div.ds-a-tasks-navs
        display: flex
        justify-content: center
        padding: 30px 0
        button
            background: transparent
            border: none
            padding: 5px 10px
            font-size: 1.3rem
            i
                margin-left: 20px
        div.dropdown-menu
            a
                font-size: 1.1rem
                margin-bottom: 5px
                position: relative
                z-index: 1
                &::before
                    content: ''
                    position: absolute
                    top: 0%
                    left: 0%
                    width: 0%
                    height: 100%
                    background-color: $dsGreen
                    color: white
                    transition: all .2s linear
                span
                    position: relative
                    z-index: 2
                    transition: color .2s linear
                &:hover
                    &::before
                        width: 100%
                    span
                        color: white
    div.ds-a-tasks-tasks-wrapper
            
        div.ds-a-tasks-task-item
            display: flex
            background-color: white
            visibility: hidden
            div.img-wrapper
                width: 50%
                height: 600px
                position: relative
                overflow: hidden
                background-position: center
                background-size: cover
                background-repeat: no-repeat
                @media screen and ( max-width: 1600px )
                    height: 500px
                &::after
                    content: ''
                    position: absolute
                    top: 50%
                    width: 70px
                    height: 70px
                    background-color: #fff
            &:nth-of-type(odd)
                div.img-wrapper
                    &::after
                        right: 0
                        transform: translate(50%,-50%) rotate(45deg)

            &:nth-of-type(even)
                flex-direction: row-reverse
                div.img-wrapper
                    &::after
                        left: 0
                        transform: translate(-50%,-50%) rotate(45deg)
            
            div.ds-a-task-item-content
                width: 50%
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                padding: 0 50px
                h1
                    position: relative
                    margin-bottom: 50px
                    text-align: center
                    &::before
                        content: ''
                        position: absolute
                        bottom: -20px
                        width: 75%
                        height: 3px
                        background-color: $dsGreen
                        left: 50%
                        transform: translateX(-50%)
                a
                    margin-top: 40px
        div.ds-a-tasks-task-item.active
            div.img-wrapper
                animation: fadeIn 1s linear both
            div.ds-a-task-item-content
                animation: fadeIn .3s linear both
                h1
                    animation: fadeInTop .7s  .1s linear both
                    &::before
                        animation: width0To75 .7s 1s both
                h4
                    animation: fadeInTop .7s  .3s linear both
                a
                    animation: fadeInTop .7s  .5s linear both
    
    @keyframes fadeInBorder
        0%
            border-top: 5px solid transparent
            border-bottom: 5px solid transparent
            visibility: hidden
        100%
            border-top: 5px solid $dsGreen
            border-bottom: 5px solid $dsGreen
            visibility: visible

// RWD
@media screen and (max-width: 1000px)
    section.ds-a-tasks-wrapper
        div.ds-a-tasks-navs
            a
                width: 100vw
                i
                    margin-left: 20px
            div.dropdown-menu
                width: 97vw
                a
                    white-space: pre-wrap !important
                    margin-bottom: 0px
                   
        div.ds-a-tasks-tasks-wrapper
            padding: 0 5vw
            div.ds-a-tasks-task-item
                &:nth-of-type(odd)
                    div.img-wrapper
                        &::after
                            right: 50%
                            top: 0
                flex-direction: column
                &:nth-of-type(even)
                    flex-direction: column
                    div.img-wrapper
                        &::after
                            left: 50%
                            top: 0
                div.img-wrapper
                    width: 100%
                    margin-bottom: 20px
                    @media screen and ( max-width: 600px )
                        height: 400px
                div.ds-a-task-item-content
                    padding: 0 10px
                    width: 100%
                    a
                        margin-top: 20px
                        margin-bottom: 70px
                        border-radius: 0
                        
        div.ds-a-tasks-hydrotherapy
            margin-bottom: 70px
            h4
                padding: 0 10px
            a
                margin-top: 20px
                width: 100vw
                border-radius: 0