@import 'tasks_list'
@import 'gallery'
section.ds-s-content
    padding: 50px 10vw
    @media screen and ( max-width: 1000px )
        padding: 0 10px
        padding-top: 30px
    span.ds-s-small
        font-weight: bold
    div.ds-s-text-wrapper
        margin-top: 50px
        position: relative
        font-size: 1.2rem
        &::before
            content: ''
            position: absolute
            height: 100%
            width: 5px
            background-color: $dsGreen
            left: 0
        p
            margin-bottom: 20px
        *
            text-indent: 50px
            @media screen and ( max-width: 1000px )
                text-indent: 0px

