$admin-color: #636e72
section.ds-news-add-new
    section.ds-news-preview
        width: 25%
        overflow-x: hidden
        div.nav-btn-wrapper
            position: fixed 
            top: -23px
            right: calc(100vw + 50px)
            display: flex
            z-index: 100
            button
                &:first-of-type
                    margin-right: 20px
                    
        div.ds-news-preview.active
            transform: translateX(-50%)
        div.ds-news-preview
            min-height: 600px
            position: relative
            display: flex
            align-items: stretch
            width: calc( 200% + 40px )
            justify-content: space-between
            transition: transform .7s

            div.ds-news-view
                width: calc( 50% - 20px )
            div.ds-news-on-list
                width: calc( 50% - 20px )
                background-color: white
                margin-right: 20px
                display: flex
                justify-content: center
                align-items: center
                div.item-on-list
                    div.error
                        display: flex
                        justify-content: center
                        align-items: center
                        flex-direction: column
                        i
                            font-size: 10rem
                            animation: mykError infinite both alternate .6s
                            @keyframes mykError
                                0%
                                    transform: rotate(-15deg) scale(1)
                                100%
                                    transform: rotate(15deg) scale(1.4)
                        h2
                            margin-top: 40px
                        p
                            font-size: 1.1rem
                        ul
                            font-size: 1rem

div.item-on-list
    display: flex
    align-items: flex-end
    justify-content: center
    width: 100vw
    margin-bottom: 50px

    a
        width: 150px
        border: none
        box-shadow: none
        transition: all .3s linear
        border: 2px solid
        font-size: 1.1rem
        padding: 5px 0
        border-radius: 10px
        background-color: $deafultGreen
        color: white
        cursor: pointer
        text-align: center 
        &:hover
            color: $deafultGreen
            background-color: white 
    div.body
        border-bottom: 2px solid $deafultGreen
        display: flex
        padding: 30px
        margin-right: 30px
        width: 75%
        img
            max-width: 300px
            object-fit: contain
            margin-right: 30px
        div.content
            h3
                padding-top: 30px
                font-weight: bold
            p
                font-size: 1.1rem
                text-indent: 20px


div.ds-news-view
    background-color: transparent
    div.text  
        padding: 50px 10%
        @media screen and ( max-width: 600px )
            padding: 50px 2%
        .title
            text-align: center
            font-size: 2.5rem
            font-weight: bold
            margin-bottom: 35px
        .content-item
            margin-bottom: 20px
        p.content-item
            margin-left: 2.5%
            margin-right: 2.5%
            text-indent: 2.5%
        ul.content-item
            padding-left: 10%
    section.ds-single-task-gallery
        padding: 0 10vw
        @media screen and ( max-width: 1400px )
            padding: 0 5vw
        @media screen and ( max-width: 1200px )
            padding: 0 
            
@media screen and ( max-width: 700px )
    section.ds-news-add-new
        padding-top: 100px !important
        section.ds-news-preview
            div.nav-btn-wrapper
                right: calc(100vw + 5px)
            div.ds-news-preview
                // margin-top: 50px

@media screen and ( max-width: 950px )
    div.item-on-list
        width: 100vw
        flex-direction: column
        a
            align-self: center
            width: 300px
        div.body
            border-bottom: none
            padding: 30px
            margin-right: 0px
            width: 100%
            flex-direction: column
            img
                max-width: 100%
                margin-right: 0px