@import 'cert/wrapper'
@import 'management'
@import 'history'
@import 'awards'
@import 'rodo'
//

            
h1.about-intro
    margin: 40px 0
    font-size: 2.5rem
    font-weight: 900
    color: $dsBlue
    text-transform: uppercase
    letter-spacing: 2px
    text-align: center
    @media screen and ( max-width: 600px )
        font-size: 2.1rem
    span.pink
        color: $dsPink
        animation: about-management-pink .3s .7s both
    @keyframes about-management-pink
        0%
            color: $dsBlue
        100%
            color: $dsPink
    @media screen and ( max-width: 1000px )
        padding: 50px 2vw 0 2vw